<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div class="content_avatar" *ngIf="isHandset$ | async">
        <img class="avatar_menu" src= "../assets/images/avatar.jpg"/>
        <p>Carlos Suarez</p>
      </div>
      <a mat-list-item [routerLink]="['/subir']">Subir archivo</a>
      <a mat-list-item [routerLink]="['/bandeja-documentos']">Bandeja de documentos</a>
      <a mat-list-item [routerLink]="['/calificar']">Calificacion</a>
      <a mat-list-item [routerLink]="['/buscador']">Buscador</a>
      <a mat-list-item [routerLink]="['/entrenador']">Entrenador</a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar class="color_menu">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a class="navbar-brand"><img  class="logo"src="../assets/logo/Indra.svg.png"></a>
        <span>Computer vision application</span>
        <span class="title_spacer hiu"></span>
        <span class="user_name" *ngIf="!(isHandset$ | async)">Carlos Suarez</span>
        <img class="avatar" src= "../assets/images/avatar.jpg" *ngIf="!(isHandset$ | async)" />
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

